numpy==2.2.2
opencv_python_headless==4.10.0.84
pandas==2.2.3
Pillow==11.1.0
plotly==5.24.1
streamlit==1.40.2
streamlit-drawable-canvas==0.8.0
supervision==0.27.0
torch
torchvision
ultralytics==8.4.53
openpyxl